# Variables and Operations

There are three distinct numeric types: integers, floating point numbers, and complex numbers. In addition, Booleans are a subtype of integers, and the other non-numeric type is string.

### 1) Integer

In [73]:
x = 10
y = 5

print(type(x))

print(x + y)
print(x - y)
print(x * y)
print(x / 2)
print(x // 2) # floored quotient of x and y -> the digits after the decimal point are removed
print(x % y) # remainder of x / y

<class 'int'>
15
5
50
5.0
5
0

In [32]:
-x # turns it into a negative number

-10

In [33]:
a = -10
abs(a) #absolute value or magnitude of x

10

In [34]:
a = 20
b = 6

divmod(a,b) # the pair (x // y, x % y)

(3, 2)

In [35]:
i = 2
j = 3

print(pow(i,j)) # x to the power y

print(i ** j) # same as pow(i,j)

8
8

### 2) Float

In [74]:
x = 10.5

print(type(x))

x.is_integer() #float has is_integer() method

<class 'float'>

False

In [77]:
y= 3.0

print(type(y))

y.is_integer() # .0 numbers also can be captured as a integer

<class 'float'>

True

In [41]:
div = x / y
print(div)

3.5

In [44]:
floored = x//y # floored quotient of x and y
print(floored)

3.0

In [45]:
type(floored)

float

In [47]:
floored = int(floored)
type(floored)

int

### 3) Complex

In [48]:
a = 2+3j
print('a =',a)
print('Type of a is',type(a))

a = (2+3j)
Type of a is <class 'complex'>

In [56]:
a = 2 + 3j
b = 6 + 4j

print("Sum:", a+b)
print("Div:",a/2)
print("Product: ",a*b)

Sum: (8+7j)
Div: (1+1.5j)
Product:  26j

### 4) String

In [62]:
message = "Hello World"

message * 3

'Hello WorldHello WorldHello World'

In [63]:
message + 3

TypeError: must be str, not int

In [65]:
message2 = "Hello Mars"

message + " " + message2

'Hello World Hello Mars'

#### str() method

In [80]:
age = 60

age_string = str(age)
print(age)
print(age_string)

60
60

In [83]:
print(age * 5)
print(age_string * 5)

300
6060606060

In [85]:
age_string + " years"

'60 years'

References
https://docs.python.org/3/library/stdtypes.html